---
---

@font-face {
	font-family: "lily";
	src: url("/assets/fonts/Tigerlily.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$body-font: "Roboto Condensed", sans-serif;
$body-font-size: 25px;
$h4-size: 25px;

.title {
	font-family: "lily";
}

.navbar {
	list-style: none;
}

.navlink {
	display:inline;
}

#home {
	font-family: "lily";
	text-align: "left";
}

#nav {
	padding-left: 0;
	font-family: "lily";
}

@import "{{ site.theme }}";
