---
---

@import "{{ site.theme }}";

@font-face {
	font-family: "lily";
	src: url("/assets/fonts/Tigerlily.ttf");
}

body {
  font-family: "lily", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #000;
}
