---
---

@font-face {
	font-family: "lily";
	src: url("/assets/fonts/Tigerlily.ttf");
}

$body-font: "lily";
$body-font-size: 25px;
$font-size-small: 25px;
$h4-size: 25px;

@import "{{ site.theme }}";

.navbar {
	list-style: none;
}

.navlink {
	display:inline;
}
