<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script type="text/javascript" src='/assets/js/jquery-3.4.0.min.js'></script>
    <title>{{ site.title }}</title>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <h1 class='title'>{{ site.title }}</h1>
      <div>
        <ul id='navbar'>
          {% for link in site.navbar-links %}
            <li class='navlink'>
              <a href="{{ link[1] }}">{{ link[0] }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {{ content }}
    </div>
  </body>
</html>
